{{ define "main" }}
  {{ .Content }}
  {{ $futureEvents := (where .Pages.ByDate "Date" "ge" now)}}
  {{ with $futureEvents }}
    <h2>Upcoming Events</h2>
    {{ range . }}
      {{ partial "event-item.html" . }}
    {{ end }}
  {{ end }}

  <!-- get pages in reverse chronological order with date in the past -->
  {{ $pastEvents := (where .Pages.ByDate.Reverse "Date" "lt" now)}}
  {{ with $pastEvents }}
    <h2>Past Events</h2>
    {{ range . }}
      {{ partial "event-item.html" . }}
    {{ end }}
  {{ end }}
{{ end }}
